#main {
	--link-color: #049ccf;
	--link-decoration: underline;
	grid-area: main;
	padding: 25px 0;
	z-index: 1;
}

p:first-letter {
	margin-left: 2em;
}

#contact-form legend, #contact-form .input-label {
	color: var(--scrollbar-color);
}
