#nav {
	font-size: 1.2em;
	gap: 18px;
	grid-area: nav;
	background-color: var(--primary-color);
	color: var(--default-color);
}

#nav > .nav-btn {
	background-color: transparent;
	color: inherit;
	border: none;
}

#install-btn > svg {
	margin-bottom: 10px;
}
