#portfolio-ads {
	padding: 2.3em;
	grid-template-columns: repeat(auto-fill, minmax(295px, 325px));
	grid-template-rows: repeat(auto-fill, min-max(300px, 350px));
	gap: 8px;
}

#portfolio-ads .card.portfolio-entry {
	background-color: #B6E6F1;
}

.portfolio-entry img {
	height: 280px;
	width: auto;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}
